.vs/CampusHub/FileContentIndex/03e9a6fa-73b1-4e18-8dfa-9c1403082f02.vsidx
.vs/CampusHub/FileContentIndex/50203aef-0dcf-4526-a94a-0c8ab7ba9fc6.vsidx
.vs/CampusHub/FileContentIndex/771d0f4b-543e-4a6c-9b5a-a885e1464e65.vsidx
.vs/CampusHub/FileContentIndex/84b59d9f-73f1-4c1b-8eed-9bc6d4c5db2d.vsidx
.vs/CampusHub/FileContentIndex/d360f0f3-caf6-4fcc-a17e-529a407fd5be.vsidx
.vs/CampusHub/FileContentIndex/e9395d55-2dbd-4ddd-badf-c81002cc11a9.vsidx
.vs/CampusHub/FileContentIndex/f4621b22-2034-4e4b-8d67-1a5afa7a3282.vsidx
.vs/CampusHub/FileContentIndex/48d042a0-00da-43e9-b5f4-4641cd11e25d.vsidx
.vs/CampusHub/FileContentIndex/352db205-bd18-4114-826b-3cac113ea7cc.vsidx
.vs/CampusHub/FileContentIndex/2a0de968-4890-4ff9-ba55-e050371f5944.vsidx
.vs/CampusHub/FileContentIndex/39f727d8-5405-419d-a069-8db13a1ebb58.vsidx
.vs/CampusHub/FileContentIndex/d83d6b13-bf41-441e-b25d-45bba07717e2.vsidx
/.vs
/.vs
.vs/CampusHub/CopilotIndices/17.14.260.54502/CodeChunks.db
*.db-shm
.vs/CampusHub/CopilotIndices/17.14.260.54502/CodeChunks.db-shm
.vs/CampusHub/CopilotIndices/17.14.260.54502/SemanticSymbols.db-wal
.vs/CampusHub/CopilotIndices/17.14.260.54502/SemanticSymbols.db-wal
.vs/CampusHub/CopilotIndices/17.14.260.54502/SemanticSymbols.db-shm
.vs/CampusHub/CopilotIndices/17.14.260.54502/CodeChunks.db-wal
.vs/CampusHub/CopilotIndices/17.14.260.54502/CodeChunks.db-shm
.vs/CampusHub/CopilotIndices/17.14.260.54502/CodeChunks.db
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/CampusHub/v17/.suo
.vs/CampusHub/v17/.suo
