@import url('https://fonts.googleapis.com/css?family=K2D');

.registerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  width: 100%;
  height: 100vh;
  font-family: 'k2d';
}

.backButton{
  text-align: right;
  cursor: pointer;

  &:hover{
    color:rgb(133, 30, 30);
  }
}

.registerCard {
  display: flex;
  width: 900px;
  height: 550px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}

.leftSide {
  width: 50%;
  background-image: url('../../../../../public/assets/images/registerBackground.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



.rightSide {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registrationTitle h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  font-family: 'k2d';
  
}

form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: 'k2d';
}

.submitRegister {
  background-color: #FF3B3F;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.submitRegister:hover {
  background-color: #f91a1d;
}

.accountMessage {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;

  span a {
    color: #007bff;
    text-decoration: none;
  }

  span:hover {
    color: #010203;
  }
}

p {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.backButton{
  text-decoration: none;
  color:red;
}

/* Responsive */
@media (max-width: 768px) {
  .registerCard {
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  
 

  .backButton{
    text-align: left;
  }

  .leftSide {
    width: 100%;
    height: 200px;
    background-image: url('../../../../../public/assets/images/registerBackground.png');
    background-size: cover;
    background-position: top;
  }

  .rightSide {
    width: 100%;
    padding: 20px;
  }
  
  form{
    input{
      width: 90%;
    }
  }

  .action-buttons{
    width: 90%;
  }

  .registrationTitle h1{
    text-align: left;
  }

  .accountMessage{
    text-align: left;
    margin-left: 75px;
  }
}