<nav>
    <div class="logo">
        <img src="assets/images/logoCampusHubRed.png" alt="">
    </div>
    <div class="items">
        <ul>
            <li><a routerLink="/students"  routerLinkActive="active">Home</a></li>
            <li>Grades</li>
            <li class="last">Details</li>
        </ul>
    </div>
    
    <div class="accountCircle">
        <div class="avatar" (click)="toggleDropDown()">DS</div>
        <div class="dropdown" *ngIf="dropDownOpen">
            <ul>
                <li (click)="disconnect()">Disconnect</li>
            </ul>
        </div>
    </div>
</nav>


