<nav>
  <div class="logo">
    <img src="assets/images/logoCampusHubRed.png" alt="">
  </div>
  <div class="items">
    <ul>
      <li><a routerLink="/students" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/students/grades" routerLinkActive="active">Grades</a></li>
      <li class="last"><a routerLink="/students/details" routerLinkActive="active">Details</a></li>
    </ul>
  </div>

  <div class="accountCircle">
    <div class="avatar" (click)="toggleDropDown()">{{avatarInitials}}</div>
    <div class="dropdown" *ngIf="dropDownOpen">
      <ul>
        <li (click)="disconnect()">Disconnect</li>
      </ul>
    </div>
  </div>
</nav>
