<div class="admin-header">
  <h2>Welcome, Admin</h2>
  <button (click)="logout()" class="logout-btn">Logout</button>
</div>

<div class="admin-container">
  <h2>Admin Dashboard</h2>
  <div class="button-grid">
    <a routerLink="/admin/faculties" class="admin-button">Faculties</a>
    <a routerLink="/admin/subjects" class="admin-button">Subjects</a>
    <a routerLink="/admin/grades" class="admin-button">Grades</a>
    <a routerLink="/admin/semesters" class="admin-button">Semesters</a>
    <a routerLink="/admin/documents" class="admin-button">Documents</a>
    <a routerLink="/admin/academic-years" class="admin-button">Academic Years</a>
  </div>

  <router-outlet></router-outlet>
</div>
