@import url('https://fonts.googleapis.com/css?family=K2D');

.background{
    background-image: url('../../../../public/assets/images/studentBackgroundUpdated.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
}

.container{
    
    font-family: 'k2d';
    width: 50%;
    text-align: center;
    
    

    h1{
        margin-top: 0;
        font-size: 80px;
        font-weight: bold;
        margin-bottom: 0;
    }
    p{
        text-align: center;
        font-size: 25px;
        
    }
}

.buttonContainer{
    margin-left: auto;
    margin-right: auto;
   
    width: 90%;

    .leftButton{
        text-decoration: none;
        
        button{
            width: 40%;
            height: 50px;
            border-radius: 20px;
            color:#fff;
            background-color: #FF3B3F;
            border: 1px solid #FF3B3F;
            font-size: 20px;
            cursor: pointer;
            margin-right: 10px;
            &:hover{
                background-color: #f50a0e;
            }
        }
        
    }
    .rightButton{
        text-decoration: none;
        
        button{
            color:#fff;
            width: 40%;
            height: 50px;
            border-radius: 20px;
            text-align: center;
            background-color: black;
            font-size: 20px;
            cursor: pointer;
            
            &:hover{
                background-color: #242121;
            }
        }
        
    }
}
